@use '../../styles/vars';

.amount {
  margin-top: -25px;
  background-color: vars.$light-color;
  color: #000;
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid vars.$main-color;

  &-value {
    font-weight: vars.$alt-weight;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

// Dark mode
.app--dark {
  .amount {
    background-color: vars.$dark-color;
    color: vars.$light-color;
  }
}
