@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');


body {
  font-family: 'Sniglet', cursive;
  background-color: vars.$alt-color;
  font-family: 'League Spartan', sans-serif;
}
