@use '../../styles/vars';

.currencies {
  background-color: vars.$light-color;
  text-align: left;
  max-height: 35vh;
  overflow-y: auto;
  color: vars.$main-color;
  font-weight: vars.$alt-weight;

  &-search {
    font-family: 'Sniglet', cursive;
    color: #000;
    width: 100%;
    border: none;
    padding: 1rem;

    &::placeholder {
      color: vars.$alt-color;
      opacity: 100%;
    }
  }

  &-title {
    font-weight: vars.$main-weight;
    margin: 1rem;
  }

  &-item {
    padding: 1rem;
    border-top: 1px solid vars.$main-color;
		cursor: pointer;
    transition: background-color 1s;

    &:hover {
      background-color: vars.$alt-color;
      transition: background-color 0.2s;
    }
  }
}

// Dark mode
.app--dark {

  .currencies {
    background-color: vars.$dark-color;
    color: vars.$light-color;

    &-search {
      background-color: vars.$dark-color;
      color: vars.$light-color;
    }

    &-item {
      &:hover {
        background-color: vars.$main-color;
        transition: background-color 0.2s;
      }
    }
  }

  .currencies::-webkit-scrollbar-track {
    background: vars.$dark-color;
  }
  
  .currencies::-webkit-scrollbar-thumb {
    background-color: vars.$main-color;
    border-radius: 10px;
    border: 2px solid vars.$dark-color;
  }

  
}

// Scrollbar
.currencies::-webkit-scrollbar {
  width: 10px;
}

.currencies::-webkit-scrollbar-track {
  background: vars.$light-color;
}

.currencies::-webkit-scrollbar-thumb {
  background-color: vars.$main-color;
  border-radius: 10px;
  border: 2px solid vars.$light-color;
}

